body {
  min-width: 300px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  border: 1px solid gray;
}
.logged-in-wrapper {
  text-align: center;
  display: none;
}
#signUp-error-message,
#login-error-message {
  color: red;
}
